@use "src/styles/variables" as *;

.vm-query-page-body {
  position: relative;

  &-header {
    position: sticky;
    top: 0;
    margin: -$padding-medium 0-$padding-medium 0;
    grid-template-columns: 1fr repeat(3, auto);
    background-color: $color-background-block;
    z-index: 3;

    @media (max-width:1000px) {
      display: block;
      top: 51px;
    }

    &_mobile {
      margin: -$padding-global 0-$padding-global 0;
      border-bottom: none;
    }

    &__settings {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      &_mobile {
        width: 100%;
        padding-block: calc($padding-small / 2);
        border-bottom: $border-divider;
      }
    }

    &__tabs {
      &_mobile {
        border-bottom: var(--border-divider);
      }
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    color: $color-text-disabled;
    text-align: center;
  }

  &__table {
    padding-top: $padding-medium;
    width: calc(100vw - ($padding-medium * 4) - var(--scrollbar-width));
    overflow: auto;

    @media (max-width: 768px) {
      width: calc(100vw - ($padding-medium * 2) - var(--scrollbar-width));
    }

    &_mobile {
      width: calc(100vw - ($padding-global * 2) - var(--scrollbar-width));
      padding-top: $padding-large;
    }

    .vm-table {
      min-width: 700px;
    }
  }
}
